body { padding-top: 50px; }
#page { padding: 0px 15px; }
div.section { padding-top: 10px; margin-bottom: 10px; }
div.section h2 { font-size: 1.5em; margin: 5px 0px; }

ol.tasks { list-style-type: none; margin: 0px; padding: 0px; }
ol.tasks > li { border: 1px solid #DDD; padding: 10px; border-radius: 5px; }
div.section.current ol.tasks > li.accepted { background-color: #DFF0D8; }
div.section.current ol.tasks > li { background-color: #FCF8E3; }
div.section.backlog ol.tasks > li { background-color: #F5F5F5; }
div.section.icebox ol.tasks > li { background-color: #E4E3FC;}
ol.tasks header { position: relative; padding-left: 40px; cursor: pointer; }
ol.tasks li.open header { padding-left: 15px; cursor: none; }
ol.tasks header h3 { line-height: 1.0em; font-size: 1.0em; margin: 0px; padding-right: 120px; }
ol.tasks header input { width: 100%; margin-top: -6px; vertical-align: top; }

span.toggle { width: 10px; display: inline-block; height: 1.0em; position: absolute; top: 0px; left: -5px; color: #AAA; cursor: pointer; }

span.length { line-height: 1.0em; width: 15px; height: 1.0em; display: inline-block; position: absolute; top: 0px; left: 15px; border-radius: 7.5px; }
span.length.short { background-color: #5CB85C; }
span.length.medium { background-color: #F0AD4E; }
span.length.long { background-color: #D9534F; }
span.length.unknown { background-color: #999; }

span.owner:before { content: '(' }
span.owner:after { content: ')' }

header > ul.actions { position: absolute; top: -4px; right: 1px; list-style-type: none; margin: 0px; padding: 0px; line-height: 1.0em; }
ul.actions li { display: inline-block; }

div.details { margin-top: 10px; position: relative; }
div.details dl { margin: 0px; }
div.details dt { width: 30%; display: inline-block;}
div.details dd { width: 69%; display: inline-block; margin: 0px; padding-bottom: 5px; }
div.details dd select, div.details dd textarea { width: 100%; }
div.details ul.actions { padding: 0px; }

div.details > ul.actions { text-align: right; margin-top: 10px; position: relative; padding: 0px; }
ul.actions li.delete { float: left; }