<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Tracker</title>
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/style.css">
  <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1" />
</head>
<body>
  <script type="text/x-handlebars" data-template-name="application">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Tracker</a>
      </div>

      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li id="add-task">
            <button class="btn btn-success navbar-btn">
              <span class="glyphicon glyphicon-plus"></span>
              Add Task
            </button>
          </li>
          <li>
            <form class="navbar-form navbar-right" role="search">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Search">
              </div>
              <button type="submit" class="btn btn-default">Submit</button>
            </form>
          </li>
        </ul>
      </div>
    </nav>

    <div id="page">
      <div class="row">
        {{outlet}}
      </div>
    </div>
  </script>

  <script type="text/x-handlebars" data-template-name="categories">
    {{#each itemController="category"}}
      <div {{bind-attr class="css_class :section :col-md-4"}}>
        <h2>
          {{title}}
          {{#if tasks}}
            <small>{{tasks.length}} {{inflection}}</small>
          {{/if}}
        </h2>
        {{render 'tasks' tasks}}
      </div>
    {{/each}}
  </script>

  <script type="text/x-handlebars" data-template-name="tasks">
    <ol class="tasks">
    {{#each itemController="task"}}
      <li {{bind-attr class="status isEditing:open"}}>
        {{#if isEditing}}
          <header>
            <span class="toggle glyphicon glyphicon-chevron-down"></span>
            {{input type="text" value=title}}
          </header>
          <div class="details">
            <dl>
              <dt>Actions</dt>
              <dd>
                <ul class="actions">
                  <li>N/A</li>
                </ul>
              </dd>
              <dt>Length</dt>
              <dd>
                {{view Ember.Select content=taskLengths optionValuePath='content.value' optionLabelPath='content.name' value=length}}
              </dd>
              <dt>Owner</dt>
              <dd>
                {{view Ember.Select content=users optionLabelPath='content.displayName' selection=owner prompt=" "}}
              </dd>
              <dt>Description</dt>
              <dd>
                {{textarea value=description}}
              </dd>
            </dl>
            <ul class="actions">
              <li><a href="#" class="btn btn-default btn-xs" {{action 'cancel'}}>Cancel</a></li>
              <li><a href="#" class="btn btn-success btn-xs" {{action 'save'}}>Save</a></li>
              <li class="delete"><a href="#" {{action 'delete'}}>Delete</a></li>
            </ul>
          </div>
        {{else}}
        <header {{action 'edit'}}>
          <span class="toggle glyphicon glyphicon-chevron-right"></span>
          <span {{bind-attr class=":length length"}}></span>
          <h3>
            {{title}}
            {{#if owner}}
              <span class="owner">{{owner.initials}}</span>
            {{/if}}
          </h3>
          <ul class="actions">
          </ul>
        </header>
        {{/if}}
      </li>
    {{/each}}
    </ol>
  </script>

  <script src="js/libs/jquery-1.9.1.js"></script>
  <script src="js/libs/handlebars-1.0.0.js"></script>
  <script src="js/libs/ember-1.1.2.js"></script>
  <script src="js/libs/ember-data-1.0.0-beta3.js"></script>
  <script src="js/app.js"></script>
  <script src="js/fixtures.js"></script>
</body>
</html>